mixin details(details, analysis)
    analysis = analysis || {}
    if(details)
        each value, id in details
            if value !== undefined
                if typeof value === "object"
                    div.device-feature-group
                        p #{id}
                        mixin details(details[id], analysis[id])
                else
                    if(typeof value != "function")
                        mixin detail(id, value, analysis[id])

mixin detail(id, value, feat)
    - var support = value ? 'supported' : 'unsupported'
    - var total = feat.supported + feat.unsupported
    - var percentage = feat[support]/total * 100
    div.col.device-feature(data-support=support, data-support-invalid=(percentage<75))
        span #{id}
        br
        | #{support}
        if percentage !== 100 && percentage<75
            div.device-feature-breakdown
                div.col
                    b #{(feat.supported/total * 100).toFixed(2)}%
                    br
                    | supported
                div.col
                    b #{(feat.unsupported/total * 100).toFixed(2)}%
                    br
                    | unsupported

