mixin details(details, namespace)
    each detail, id in details
        - ns = namespace ? namespace + '.' + id : id
        if detail.value === undefined
            mixin details(details[id], ns)
        else
            mixin detail(detail, ns)

mixin detail(detail, id, ns)
    - var support = detail.value ? 'supported' : 'unsupported'
    - var total = detail.supported + detail.unsupported
    - var percentage = detail[support]/total * 100
    div.device-feature(data-support=support, data-support-invalid=(percentage<90))
        div.device-feature-main
            span  #{ns} #{id}
            br
            | #{support}
        if percentage !== 100 && percentage<90
            div.device-feature-breakdown
                div.device-feature-breakdown-summary
                    b #{percentage.toFixed(2)}%
                div
                    b #{detail.supported}
                    br
                    | supported
                div
                    b #{detail.unsupported}
                    br
                    | unsupported

