extends ../layout


block append head-css
    link(href="/stylesheets/device.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400", rel="stylesheet")

block append foot-js
    script.
        (function(){
            var drawer = document.querySelector('.page-drawer'),

                pageContent = document.querySelector('.page-content'),

                close = function(){
                    var menus = [this.parentNode];

                    Array.prototype.push.apply(menus, this.parentNode.querySelectorAll('[data-group], .is-open'));

                    menus.forEach(function(menu){
                        menu.removeAttribute('data-group-overlay','');
                        menu.classList.remove('is-open');
                    });

                    pageContent.setAttribute('data-menu-state',level(this));
                },

                level = function(el){
                    var level = 1;
                        p = el.parentNode;

                    while (p !== document) {
                        if(p.getAttribute('data-group-overlay') !== null){
                            level++;
                        }
                        p = p.parentNode;
                    }

                    return level;
                },


                open = function(){
                    this.classList.add('is-open');
                    this.parentNode.setAttribute('data-group-overlay','');
                    pageContent.setAttribute('data-menu-state',level(this));
                },

                reset = function(e){
                    var p = e.target.parentNode;

                    if(pageContent.getAttribute('data-menu-state') === null){
                        return false;
                    }

                    while(p !== document){
                        if(p === drawer){
                            return false;
                        }
                        p = p.parentNode;
                    }
                    pageContent.removeAttribute('data-menu-state');
                    pageContent.removeEventListener('reset');
                },

                update = function(e){
                    drawer.innerHTML = e.detail.markup;
                    pageContent.setAttribute('data-menu-state', 1);
                };


            drawer.addEventListener('click', function(e){
                var parent = e.target.parentNode;

                if(e.target.nodeName === 'A' && parent.getAttribute('data-group-overlay') !== null){
                    e.preventDefault();
                    e.stopPropagation();
                    close.call(e.target);
                    return;
                }

                if(!!e.target.getAttribute('data-link')){
                    open.call(e.target);
                }
            });

            drawer.addEventListener('update', update);
            pageContent.addEventListener('click', reset);

        }());

    script.
        var devices = document.querySelector('.devices'),
            drawer = document.querySelector('.page-drawer');

        Array.prototype.forEach.call(devices.querySelectorAll('[data-link], .device-heading'), function(el){
            el.addEventListener('click', function(e){
                e.stopPropagation();
                var evt = new CustomEvent('update', { detail: { markup: this.nextElementSibling.outerHTML } });
                drawer.dispatchEvent(evt);
            });

        });


block content
    .page-content

        header
            h2 Devices
                if grouping
                    span #{grouping}

        nav.page-drawer


        section.devices
            if devices.length
                each device in devices
                    if grouping === 'systems'
                        mixin system(device)
                    else
                        mixin device(device)
            else
                div no devices


mixin device(device)
    .device-collection(class="agent-#{device.family.toLowerCase().replace(/\s/g,'-')}")
        div.device-collection-heading
            span(class="icon-#{device.family.toLowerCase().replace(/\s/g,'-')}")
            span.id #{device.family}

        div(data-group)
            h3 #{device.family}
            each group in device.versions
                if group.items.length === 1
                    each item in group.items
                        a(href="/device/#{item.id}") #{group.version}
                else
                    a(data-link, href="#") #{group.version}
                        span.icon-arrow-left
                    div(data-group)
                        h3 #{device.family} #{group.version}
                        each item in group.items
                            a(href="/device/#{item.id}") #{item.name}



mixin system(device)
    .device(class="device-#{device.system.toLowerCase().replace(/\s/g,'-')}")
        div.device-heading
            span(class="icon-#{device.system.toLowerCase().replace(/\s/g,'-')}")
            span.id #{device.system}

        div(data-group)
            h3 #{device.system}
            each group in device.versions
                if group.browsers.length === 1
                    div.x s
                else
                    a(data-link, href="#") #{group.version}
                        span.icon-arrow-left





