extends ../layout

block append head-js

block append head-css
    link(href="/stylesheets/device.css", rel="stylesheet")

block content

    header
        h2 Stored Devices

    section.browsers
        if browsers.length
            each browser in browsers
                mixin browser(browser)
        else
            div no devices


mixin browser(browser)
    .browser(class="browser-#{browser.family.toLowerCase()}")
        div.browser-heading
            span(class="icon-#{browser.family.toLowerCase()}")
            span.id #{browser.family}

        each v in browser.versions
            - if(v.items.length > 1)
                each item in v.items
                    a.group(href="/device/#{item.id}")
                        | #{v.version}
                        span #{item.system}
            - else
                each item in v.items
                    a(href="/device/#{item.id}")
                        | #{v.version}

