extends ../layout
include _details

block append head-css
    link(href="/stylesheets/device.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Lato:100,300,400", rel="stylesheet")
    
block append head-js
    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/modernizr/modernizr.js")
    script(src="/javascripts/device.js")

block content
    .page-content
        header
            h3 #{device._id}

        section.device


            div.device-agent
                | #{device.agent.name}

            div.device-ua #{device.id}

            div.device-module.row
                p.col
                    span  #{device.agent.family}
                    br
                    |  browser
                if device.agent.major
                    p.col
                        span #{device.agent.major}
                        br
                        | Major
                if device.agent.minor
                    p.col
                        span  #{device.agent.minor}
                        br
                        | Minor
                if device.agent.patch
                    p.col
                        span  #{device.agent.patch}
                        br
                        | Patch


            div.device-module.row
                p.col
                    span  #{device.system.family}
                    br
                    |  operating system
                if device.system.major
                    p.col
                        span #{device.system.major}
                        br
                        | Major
                if device.system.minor
                    p.col
                        span  #{device.system.minor}
                        br
                        | Minor


            div.device-module.row
                p.col
                    span #{device.created.ago}
                    br
                    |  captured on #{device.created.exact}


            div.row
                div.device-module.row.col-md-4
                    h4 Device
                    span.icon-mobile
                    p.col
                        span #{device.device.family}
                        br
                        | family


                div.device-module.row.col-md-8
                    h4 Screen
                    span.icon-screen
                    p.col
                        span #{device.device.screen.width}
                        br
                        |  wide
                    p.col
                        span  #{device.device.screen.height}
                        br
                        |  tall
                    p.col
                        span  #{device.device.color.depth}
                        br
                        |  color depth

        section.device-features

            div.device-module.row
                h4 Features
                div
                    p.col-md-2.device-feature-type javascript
                    div.col-md-10
                        mixin details(device.javascript, analysis.javascript)

            div.device-module.row
                div
                    p.col-md-2.device-feature-type css
                    div.col-md-10
                        mixin details(device.css, analysis.css)

            div.device-module.row
                div
                    p.col-md-2.device-feature-type html
                    div.col-md-10
                        mixin details(device.html.input, analysis.html.input)