element(name="ui-slide", \attributes="background backdrop center notes type vcenter")
    template
        include ../../../assets/stylus/components/presentation/slide.styl

        .ui-slide#slide(background="{{background}}",
            backdrop="{{backdrop}}",
            center="{{center}}",
            index="{{index}}",
            loaded="{{loaded}}",
            notes="{{notes}}",
            overview="{{overview}}",
            presentor="{{presentor}}",
            state="{{state}}",
            style="left:{{offset}}%",
            type="{{type}}",
            vcenter="{{vcenter}}")
            aside.ui-slide-notes
                h3 Notes
                section
                    content#notes(select="ui-slide-notes")
            content(select="*")


    include ../../../assets/javascripts/components/presentation/slide.js
