element(name="ui-slide", \attributes="background backdrop center items notes vcenter")
    template
        include ../../../assets/stylus/components/presentation/slide.styl

        .ui-slide#slide(background="{{background}}",
            backdrop="{{backdrop}}",
            center="{{center}}",
            index="{{index}}",
            loaded="{{loaded}}",
            notes="{{notesEnabled}}",
            overview="{{overview}}",
            presentor="{{presentor}}",
            state="{{state}}",
            vcenter="{{vcenter}}")
            aside.ui-slide-notes
                ul
                    template(id="notes", repeat="{{notes}}")
                        li {{note}}
            content


    include ../../../assets/javascripts/components/presentation/slide.js
