extends layout

block append head-js
    script(src="javascripts/vendor/modernizr.custom.js")
    script(src="javascripts/device.js")

block content
    h1= title

    h2 Stored Devices
    each device in devices
        mixin device(device)

    h2 This Device
    if !device.exists
        article
            span= device.toString()
            |  running on
            =   ' '
            span= device.os.toString()
            =   ' '
            span= device.device.family



mixin device(device)
    div= device.agent.id
